################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MOEXOpenPositions/.vs/MOEXOpenPositions
/MOEXOpenPositions/MOEXOpenPositions/obj/Debug
/MOEXOpenPositions/MOEXOpenPositions/bin/Debug
/MOEXOpenPositions/MOEXOpenPositionsApp/bin/Debug
/MOEXOpenPositions/MOEXOpenPositionsApp/obj/Debug
/MOEXOpenPositions/MOEXOpenPositions/bin/x64
/MOEXOpenPositions/MOEXOpenPositions/obj
/MOEXOpenPositions/MOEXOpenPositionsApp/bin/Release
/MOEXOpenPositions/MOEXOpenPositionsApp/obj/Release
