################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MOEXOpenPositions/.vs/MOEXOpenPositions
/MOEXOpenPositions/MOEXOpenPositions/obj/Debug
/MOEXOpenPositions/MOEXOpenPositions/bin/Debug
